@using HTNResp.Model
<div class="row wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                诊断项列表</h5>
            <div class="ibox-tools">
                <a class="btn btn-xs btn-primary" onclick="filter='';table.ajax.reload()">刷新</a>
                <a class="btn btn-xs btn-primary" onclick="createModelShow()">新建</a> <a class="btn btn-xs btn-primary"
                    onclick="searchModelShow()">查询</a>
            </div>
            <div>
                <p id="s">
                </p>
            </div>
        </div>
        <div class="ibox-content">
            <table id="data_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 40%">
                            判断规则
                        </th>
                        <th style="width: 20%">
                            名称
                        </th>
                        <th style="width: 10%">
                            性别
                        </th>
                        <th style="width: 20%">
                            评估指南
                        </th>
                        <th style="width: 10%">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="model_create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    新建</h4>
            </div>
            <div class="modal-body">
                <form id="frm_create" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        判断规则</label>
                    <div class="col-sm-10">
                        <textarea style="resize: none; overflow: auto" rows="3" type="text" name="DecisionRule"
                            id="new_rule" class="form-control" required></textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        名称</label>
                    <div class="col-sm-10">
                        <input type="text" name="Name" class="form-control" required></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        性别</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="Sex" required>
                            <option></option>
                            <option>男</option>
                            <option>女</option>
                            <option>X</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        描述</label>
                    <div class="col-sm-10">
                        <input type="text" name="Description" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        评估指南</label>
                    <div class="col-sm-10">
                        <select class="form-control " name="EvalGuidId" required>
                            <option></option>
                            <option value="1">中国高血压防治指南2010</option>
                            <option value="2">中国国家基层管理指南2014</option>
                            <option value="3">2013ESH-ESC动脉高血压管理指南</option>
                        </select>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    关闭</button>
                <a type="button" class="btn btn-primary" id="btn_add">保存</a>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="model_search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    查询</h4>
            </div>
            <div class="modal-body">
                <form id="frm_search" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        判断规则</label>
                    <div class="col-sm-10">
                        <textarea style="resize: none; overflow: auto" rows="3" type="textarea" name="DecisionRule"
                            class="form-control"></textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        名称</label>
                    <div class="col-sm-10">
                        <input type="text" name="Name" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        性别</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="Sex">
                            <option></option>
                            <option>男</option>
                            <option>女</option>
                            <option>X</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        描述</label>
                    <div class="col-sm-10">
                        <input type="text" name="Description" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        评估指南</label>
                    <div class="col-sm-10">
                        <select class="form-control " name="EvalGuidId">
                            <option></option>
                            <option value="1">中国高血压防治指南2010</option>
                            <option value="2">中国国家基层管理指南2014</option>
                            <option value="3">2013ESH-ESC动脉高血压管理指南</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" onclick="searchSubmit()">
                        查询</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="model_update" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    修改</h4>
            </div>
            <div class="modal-body">
                <form id="frm_update" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                    </label>
                    <div class="col-sm-10">
                        <input id="update_id" type="hidden" name="ID" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        判断规则</label>
                    <div class="col-sm-10">
                        <textarea style="resize: none; overflow: auto" rows="3" id="modify_rule" type="textarea"
                            name="DecisionRule" class="form-control" required></textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        名称</label>
                    <div class="col-sm-10">
                        <input id="update_name" type="text" name="Name" class="form-control" required></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        性别</label>
                    <div class="col-sm-10">
                        <select id="update_sex" class="form-control" name="Sex" required>
                            <option></option>
                            <option>男</option>
                            <option>女</option>
                            <option>X</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        描述</label>
                    <div class="col-sm-10">
                        <input id="update_description" type="text" name="Description" class="form-control"></div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        评估指南</label>
                    <div class="col-sm-10">
                        <select id="update_evalguidid" class="form-control " name="EvalGuidId" required>
                            <option></option>
                            <option value="1">中国高血压防治指南2010</option>
                            <option value="2">中国国家基层管理指南2014</option>
                            <option value="3">2013ESH-ESC动脉高血压管理指南</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input id="update_status" type="hidden" name="Status" class="form-control"></div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    关闭</button>
                <a type="button" class="btn btn-primary" id="btn_modify">修改</a>
            </div>
        </div>
    </div>
</div>
@{
    List<EvalGuid> evalGuidList = ViewBag.EvalGuidId;
    List<string> evalGuidListJs = new List<string>();
    foreach (EvalGuid eval in evalGuidList)
    {
        evalGuidListJs.Add("'" + eval.ID + "':'" + eval.GuidName + "'");
    }
    
}
@section script {
    <script>
    var evalGuidList = {@Html.Raw(string.Join(",", evalGuidListJs))};
    </script>
    <script>
        var filter = " ";
        $.extend($.validator.messages, { required: '该项不能为空！' });
        $(document).ready(function () {
            table = $("#data_table").DataTable({
                "pageLength": 10,
                "lengthChange": false,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "dom": '<"html5buttons"B>Tgitp',
                "ajax": function (tdata, callback, settings) {
                    $.ajax({
                        type: "POST",
                        url: "/DiagnoseList/AjaxList" + filter,
                        cache: false,
                        data: tdata,
                        dataType: "json",
                        success: function (res) {
                            if (res.result == 0) {
                                toastr.warning(res.msg);
                            } else if (res.result == 100) {
                                location.href = "/Home/Index";
                            } else if (res.result == 300) {
                                location.href = "/Home/Illegal";
                            } else {
                                callback(res.data);
                            }
                        },
                        error: function (XMLHttpRequest, txtStatus, errorThrown) {
                            toastr.warning('查询失败，请重试');
                        }
                    });
                },
                "columns": [
                    { data: "DecisionRule",
                        "render": function (data, type, row) {
                            var html;
                            html = "<div style='height:40px;overflow:auto'>" + data + "</div>";
                            return html;
                        }
                    },
                    { data: "Name" },
                    { data: "Sex" },
                    { data: "EvalGuidId",
                        "render": function (data, type, row) {
                            return evalGuidList[data];
                        }
                    },
                    {
                        data: "ID",
                        "render": function (data, type, row) {
                            var html;
                            html = "<a class='btn btn-xs btn-primary' onclick='updateModelShow(" + data + ")'>修改</a>";
                            html += "&nbsp;<a class='btn btn-xs btn-danger'onclick='deleteModelShow(" + data + ")'>删除</a>";
                            return html;
                        }
                    }
                ],
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "每页显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "当前显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "当前显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "关键字搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "buttons": []
            })
            $("#frm_create").validate({});
            $("#frm_update").validate({});
        });

        $("#new_rule").change(function () {
            $.post("/DiagnoseList/Confirm?string=" + $("#new_rule").val(), null, function (res) {
                if (res.result == 1) {
                    $("#new_rule").css("border-color", "")
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    toastr.error(res.msg);
                    $("#new_rule").css("border-color", "red")
                }
            });
        });
        $("#modify_rule").change(function () {
            $.post("/DiagnoseList/Confirm?string=" + $("#modify_rule").val(), null, function (res) {
                if (res.result == 1) {
                    $("#modify_rule").css("border-color", "")
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    toastr.error(res.msg);
                    $("#modify_rule").css("border-color", "red")
                }
            });
        });

        function createModelShow() {
            $("#model_create").modal('show');
        }

        function searchModelShow() {
            $("#model_search").modal('show');
        }

        var btn_add = $('#btn_add').ladda();
        btn_add.click(function () {
            if (!$("#frm_create").valid()) {
                toastr.error("新建失败！");
                return false;
            }
            btn_add.ladda('start');
            $.post("/DiagnoseList/Create", $("#frm_create").serialize(), function (res) {
                btn_add.ladda('stop');
                if (res.result == 1) {
                    table.ajax.reload();
                    $("#model_create").modal('hide');
                    toastr.success("添加成功!");
                    $("#model_create").on("hidden.bs.modal", function () {
                        $("input,select").val("");
                    });
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    toastr.error(res.msg);
                }
            })
        });


        function updateModelShow(id) {
            $.post("/DiagnoseList/Info/" + id, null, function (res) {      //$post(   ) 和controller.cs的名字一致
                console.log();
                if (res.result == 0) {
                    toastr.error("所选择项不存在,请刷新后重试");
                }
                else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    $("#update_id").val(res.data.ID);
                    $("#modify_rule").val(res.data.DecisionRule);
                    $("#update_name").val(res.data.Name);
                    $("#update_sex").val(res.data.Sex);
                    $("#update_status").val(res.data.Status);
                    $("#update_description").val(res.data.Description);
                    $("#update_evalguidid").val(res.data.EvalGuidId);
                }
            });
            $("#model_update").modal('show');
        }

        var btn_modify = $('#btn_modify').ladda();
        btn_modify.click(function () {
            if (!$("#frm_create").valid()) {
                toastr.error("修改失败！");
                return false;
            }
            btn_modify.ladda('start');
            $.post("/DiagnoseList/Update", $("#frm_update").serialize(), function (res) {
                btn_modify.ladda('stop');
                if (res.result == 1) {
                    table.ajax.reload();
                    $("#model_update").modal('hide');
                    toastr.success("修改成功!");
                    $("#model_update").on("hidden.bs.modal", function () {
                        $("input,select").val("");
                    });
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    toastr.error(res.msg);
                }
            })
        });

        function searchSubmit() {

            filter = "?" + $("#frm_search").serialize()

            table.ajax.reload();
            $("#model_search").modal('hide');
        }

        function deleteModelShow(id) {
            swal({
                title: "确定删除吗?",
                text: "删除后不可找回!",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "取消",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                //表单提交

                $.post("/DiagnoseList/Delete/?id=" + id, null, function (res) {
                    if (res.result == 0) {
                        swal("删除失败!", "没用可供删除的数据", "error");
                    }
                    else if (res.result == 100) {
                        location.href = "/Home/Index";
                    } else if (res.result == 300) {
                        location.href = "/Home/Illegal";
                    } else {
                        table.ajax.reload();
                        swal("已删除!", "此条信息已从数据库中移除", "success");
                    }
                })
            });

        }

    
    </script>
}
