@using HTNResp.Model
<div class="row wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>权限查看</h5>
            <div class="ibox-tools">
                <a class="btn btn-xs btn-primary" onclick="filter='';table.ajax.reload()">刷新</a>
                @*<a class="btn btn-xs btn-primary" onclick="createModelShow()">新建</a>
                <a class="btn btn-xs btn-primary" onclick="SearchModelShow()">查询</a>*@
            </div>
        </div>
        <div class="ibox-content">
            <p id="ptest"></p>
            <table id="data_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>权限ID</th>
                        <th>权限名称</th>
                        <th>权限路经</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>



<!--新建窗口-->
<div class="modal inmodal fade" id="model_create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    新建
                </h4>
            </div>
            <div class="modal-body">
                <form id="frm_create" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">判断规则</label>
                        <div class="col-sm-10"><textarea style="resize: none;overflow:auto" rows="3" id="create_DecisionRule" type="text" name="DecisionRule" class="form-control" required></textarea></div>
                    </div>
                    <div class="form-group" id="warningtips" style="visibility:hidden;">
                        <h5 class="col-sm-10 col-sm-offset-2" style="color:Red;"></h5>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评估内容</label>
                        <div class="col-sm-10"><input id="create_Contents" type="text" name="Contents" class="form-control" required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            性别
                        </label>
                        <div class="col-sm-10">
                            <select id="create_Sex" name="Sex" class="form-control" required>
                                <option value=""></option>
                                <option>男</option>
                                <option>女</option>
                                <option>X</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            显示顺序
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="Sort" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            分隔符
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="Separator" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            类别
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="TypeName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            说明
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="Remark" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评估指南</label>
                        <div class="col-sm-10">
                            <select id="Create_EvalGuidId" name="EvalGuidId" class="form-control" required>
                                <option value=""></option>
                                <option value="1">中国高血压防治指南2010</option>
                                <option value="2">中国国家基层管理指南2014</option>
                                <option value="3">2013ESH-ESC动脉高血压管理指南</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" id="btn_submit" class="btn btn-primary" onclick="createSubmit()">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<!--修改窗口-->
<div class="modal inmodal fade" id="model_Update" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    修改
                </h4>
            </div>
            <div class="modal-body">
                <form id="frm_update" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10"><input id="Update_id" type="hidden" name="ID" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">判断规则</label>
                        <div class="col-sm-10"><textarea style="resize: none;overflow:auto" rows="3" id="Update_DecisionRule" type="text" name="DecisionRule" class="form-control" required></textarea></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评估内容</label>
                        <div class="col-sm-10"><input id="Update_Contents" type="text" name="Contents" class="form-control" required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            性别
                        </label>
                        <div class="col-sm-10">
                            <select id="Update_Sex" name="Sex" class="form-control" required>
                                <option value=""></option>
                                <option>男</option>
                                <option>女</option>
                                <option>X</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            显示顺序
                        </label>
                        <div class="col-sm-10">
                            <input id="Update_Sort" type="text" name="Sort" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            分隔符
                        </label>
                        <div class="col-sm-10">
                            <input id="Update_Separator" type="text" name="Separator" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            类别
                        </label>
                        <div class="col-sm-10">
                            <input id="Update_TypeName" type="text" name="TypeName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            说明
                        </label>
                        <div class="col-sm-10">
                            <input id="Update_Remark" type="text" name="Remark" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">评估指南</label>
                        <div class="col-sm-10">
                            <select id="Update_EvalGuidId" name="EvalGuidId" class="form-control" required>
                                <option value=""></option>
                                <option value="1">中国高血压防治指南2010</option>
                                <option value="2">中国国家基层管理指南2014</option>
                                <option value="3">2013ESH-ESC动脉高血压管理指南</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10"><input id="Update_Status" type="hidden" name="Status" class="form-control"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="UpdateSubmit()">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<!--查找窗口-->
<div class="modal inmodal fade" id="model_Search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    查找
                </h4>
            </div>
            <div class="modal-body">
                <form id="frm_search" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">判断规则</label>
                        <div class="col-sm-10"><textarea style="resize: none;overflow:auto" rows="3" id="Search_DecisionRule" type="text" name="DecisionRule" class="form-control"></textarea></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评估内容</label>
                        <div class="col-sm-10"><input id="Search_Contents" type="text" name="Contents" class="form-control" required></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            性别
                        </label>
                        <div class="col-sm-10">
                            <select id="Search_Sex" name="Sex" class="form-control">
                                <option value=""></option>
                                <option>男</option>
                                <option>女</option>
                                <option>X</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评估指南</label>
                        <div class="col-sm-10">
                            <select id="Search_EvalGuidId" name="EvalGuidId" class="form-control" required>
                                <option value=""></option>
                                <option value="1">中国高血压防治指南2010</option>
                                <option value="2">中国国家基层管理指南2014</option>
                                <option value="3">2013ESH-ESC动脉高血压管理指南</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="SearchSubmit()">查找</button>
            </div>
        </div>
    </div>
</div>


@section script {
    <script>
        var filter = " ";
        var table = null;

        $("#create_DecisionRule").change(function () {
            $.post("/AdaptSymptom/Confirm?string=" + $("#create_DecisionRule").val(), null, function (res) {
                if (res.result == 1) {
                    $("#create_DecisionRule").css("border-color", "")
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    toastr.error(res.msg);
                    $("#create_DecisionRule").css("border-color", "red")
                }
            });
        });
        $("#Update_DecisionRule").change(function () {
            $.post("/AdaptSymptom/Confirm?string=" + $("#Update_DecisionRule").val(), null, function (res) {
                if (res.result == 1) {
                    $("#Update_DecisionRule").css("border-color", "")
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    toastr.error(res.msg);
                    $("#Update_DecisionRule").css("border-color", "red")
                }
            });
        });

        $.extend($.validator.messages, { required: '该项不能为空' });

        $(document).ready(function () {
            table = $("#data_table").DataTable({
                "pageLength": 10,
                "lengthChange": false,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "dom": '< l < t > ip > ',
                "ajax": function (tdata, callback, settings) {
                    $.ajax({
                        type: "POST",
                        url: "/AuthList/AjaxList/" + filter,
                        cache: false,
                        data: tdata,
                        dataType: "json",
                        success: function (res) {
                            if (res.result == 0) {
                                toastr.warning(res.msg);
                            } else if (res.result == 100) {
                                location.href = "/Home/Index";
                            } else if (res.result == 300) {
                                location.href = "/Home/Illegal";
                            } else {
                                callback(res.data);
                            }
                        },
                        error: function (XMLHttpRequest, txtStatus, errorThrown) {
                            toastr.warning('查询失败，请重试');
                        }
                    });
                },
                "columns": [
                    {
                        data: "ID",
                        "render": function (data, type, row) {
                            var html;
                            html = "<div style='height:40px;overflow:auto'>" + data + "</div>";
                            return html;
                        }
                    },
                    { data: "TableName" },
                    { data: "TableAdress" },
                    {
                        data: "ID",
                        "render": function (data, type, row) {
                            //var html;
                            //html += "&nbsp;<a class='btn btn-xs btn-danger'onclick='DeleteModelShow(" + data + ")' >删除</a>";
                            //return html;
                            return "无";
                        }
                    }
                ],
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "每页显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "当前显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "当前显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "关键字搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "buttons": []
            })
            $("#frm_create").validate({});
            $("#frm_update").validate({});
        });
        //新建
        function createModelShow() {
            $("#model_create").modal('show');

        }
        var ps = $('#btn_submit').ladda();
        ps.click(function () {
            // todo form必填项验证
            // jquery.validate.min.js
            if (!$("#frm_create").valid()) {
                toastr.error("新建失败");
                return false;
            }
            ps.ladda('start');
            // todo ajax提交到服务器
            $.post("/AdaptSymptom/Create", $("#frm_create").serialize(), function (res) {
                ps.ladda('stop');
                if (res.result == 1) {
                    table.ajax.reload();
                    $("#model_create").modal('hide');
                    $("#model_create").on("hidden.bs.modal", function () {
                        $("input,select").val("");
                    });
                    toastr.success("新建成功");
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                }
                else {
                    toastr.warning("新建失败");
                }
            })


        })
        //修改
        function UpdateModelShow(id) {
            $.post("/AdaptSymptom/Info/" + id, null, function (res) {
                if (res.result == 0) {
                    toastr.error("所选择项不存在,请刷新后重试");
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                }
                else {
                    $("#Update_id").val(res.data.ID);
                    $("#Update_DecisionRule").val(res.data.DecisionRule);
                    $("#Update_Contents").val(res.data.Contents);
                    $("#Update_Sex").val(res.data.Sex);
                    $("#Update_Status").val(res.data.Status);
                    $("#Update_Sort").val(res.data.Sort);
                    $("#Update_Separator").val(res.data.Separator);
                    $("#Update_TypeName").val(res.data.TypeName);
                    $("#Update_Remark").val(res.data.Remark);
                    $("#Update_EvalGuidId").val(res.data.EvalGuidId);
                }
            })
            $("#model_Update").modal('show');

        }
        function UpdateSubmit() {
            // todo form必填项验证
            // jquery.validate.min.js
            if (!$("#frm_update").valid()) {
                toastr.error("修改失败");
                return false;
            }
            $.post("/AdaptSymptom/Update", $("#frm_update").serialize(), function (res) {
                if (res.result == 1) {
                    table.ajax.reload();
                    $("#model_Update").modal('hide');
                    toastr.success("修改成功");
                } else if (res.result == 100) {
                    location.href = "/Home/Index";
                } else if (res.result == 300) {
                    location.href = "/Home/Illegal";
                } else {
                    toastr.error(res.msg);
                }
            });

        }
        //删除
        function DeleteModelShow(model) {
            swal({
                title: "确定删除吗?",
                text: "删除后不可找回!",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "取消",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                //表单提交

                $.post("/AdaptSymptom/Delete/" + model, null, function (res) {
                    if (res.result == 0) {
                        swal("删除失败!", "没用可供删除的数据", "error");
                    }
                    else if (res.result == 100) {
                        location.href = "/Home/Index";
                    } else if (res.result == 300) {
                        location.href = "/Home/Illegal";
                    } else {
                        table.ajax.reload();
                        swal("已删除!", "此条信息已从数据库中移除", "success");
                    }
                });


            });

        }
        //查找
        function SearchModelShow() {

            $("#model_Search").modal('show');
        }

        function SearchSubmit() {
            // todo read input box and get filter string
            filter = "?DecisionRule=" + $("#Search_DecisionRule").val() + "&Contents=" + $("#Search_Contents").val() + "&Sex=" + $("#Search_Sex").val() + "&Remark=" + $("#Search_Remark").val() + "&EvalGuidId=" + $("#Search_EvalGuidId").val();
            table.ajax.reload();
            $("#model_Search").modal('hide');
        }
    </script>
}