
    <div class="middle-box text-center animated fadeInDown">
        <h1 style="color:red">警告</h1>
        <h3 class="font-bold">您的权限不足访问此页</h3>

        <div class="error-desc">
            如需访问请联系管理员
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>


